@charset "utf-8";
/* CSS Document */
/*----------------所有页面公共样式 start--------------------*/
body{margin:0;padding:0; font-family:'微软雅黑';background:#f6f4f5;}
li,ul{margin:0;padding:0;list-style:none;margin:0;padding:0;}
a{ text-decoration:none;}
.clear{clear:both;}/*清除浮动*/
*{
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-mos-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	}/*把元素的margin和padding默认为0；设置元素的边框不影响元素的宽高*/
#main{
	width:99%;
	margin:20px auto;
	}/*main样式是最外层样式，设定整个区域的宽度，默认99%，可修改*/
	
/*----------------所有页面公共样式  end----------------*/



/* ------------------------项目集市页面的样式 start ------------------------*/
/*头部按钮区域的样式*/
#bazaar_head{width:100%}
#bazaar_head ul li{
	padding:0.4em 1.2em; 
	float:left;
	margin-left:30px;
	font-size:18px;
	}
#bazaar_head ul li a{ 
     display:block;
	 color:#666;	 
	 }
#bazaar_head ul li a:hover{}
#bazaar_head #select{
	border:1px solid #000;
	-webkit-border-radius:18px;
	-mos-border-radius:18px;
	-o-border-radius:18px;
	border-radius:18px;
	}
#bazaar_head ul li#select a{color:#000}

/*类型选择区域 左边 样式*/
#choose{width:100%; margin-top:30px;}
span#black_line{
	display:block;
	height:10px;
	background:#333;
	-webkit-border-radius:10px;
	-mos-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	}

#classify{ 
     background:#fff; 
	 margin:-5px auto 0;
	 width:96%;
	 padding: 10px 20px;
	 height:140px;
	 overflow:hidden;
	 }
#classify_left,#classify_right{width:50%; float:left;}
#classify_left ul{
	width:100%; 
	margin:15px 0; 
	clear:both;
	overflow:hidden;
	}
#classify_left ul li{
	color:#666;
	float:left; 
	margin-right:50px; 
	font-size:13px;
	}
#classify_left ul li:first-child{margin-right:20px;}
#classify_left ul li a{ color:#333}
li.selected{
	background:#48a0ff;
	-webkit-border-radius:2px;
	-mos-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	padding: 0 2px;
	}
#classify_left ul li.selected a{color:#fff;}

/*右侧搜索框样式*/
.search_box{
	width:85%; 
	float:right; 
	height:40px;
	border:1px solid #ccc;
	margin-top:40px;
	}
.search_box,.search_box input{
	-webkit-border-radius:5px;
	-mos-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	}
.search_box input{border:0; background:none;}
#input_box{
	line-height:40px;
	width:85%;
	padding-left:10px; 
	float:left
	}
#search_button{
	width:38px;
	height:38px; 
	margin:1px; 
	float:right; 
	cursor:pointer; 
	background:url(../images/icon_search.jpg) no-repeat center center #469eff;
	}

/*搜索结果显示区域样式*/
#results{width:96%; margin:20px auto; }
ul#rank {width:100%; overflow:hidden; margin-bottom:20px;}
ul#rank li{
	width:60px; 
	float:right; 
	margin-left:30px;
	color:#323a45;
	}
ul#rank li a{
	border-width:6px;
	border-style:solid;
	border-color:#323a45 transparent transparent transparent;
	width:0;height:0;font-size:0;
	line-height:0; 
	margin-left:15px;
	}
.results_list{
	width:30%;
    float:left; 
	margin-right:5%;
	background:#fff;
	margin-bottom:20px;
	border:1px solid #ccc;
	-webkit-border-radius:5px;
	-mos-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	position:relative;
	}
img.main_figure{
	width:100%;
	height:190px;
	border-radius:5px; 
	}
.results_list:hover{
	 border: 1px solid #48a0ff;
     box-shadow: 0 1px 5px #48a0ff;
     cursor: pointer;
	}
.label{
	position:absolute;
	z-index:3;
	width:100%;
	top:0;
	left:0;
	}
p.number{ 
    width:120px;
	text-align:center; 
	background:rgba(0,0,0,0.7);
	color:#fff;
	font-size:13px;
	margin:20px 0 0 10px;
	-webkit-border-radius:3px;
	-mos-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	float:left;
	}
.number_people{
	width:45px;
	height:53px; 
	background:#48a1ff; 
	float:right; 
	margin-right:15px;
	margin-top:-8px;
	color:#fff;
	text-align:center;
	border-radius:0 0 3px 3px;
	position:relative;
	}
.number_people:after{
	 content:'';
	 position:absolute;
	 width:26px;
	 height:7px;
	 background:#3389e6;
	 top:0;
	 ltft:0;
	 -webkit-transform:skewX(35deg);
	 -mos-transform:skewX(35deg);
	 -o-transform:skewX(35deg);
	 -ms-transform:skewX(35deg);
	 transform:skewX(35deg);
	 z-index:-2;
	}
.number_people img{ margin:10px auto 5px;}
.number_people p{ 
    text-align:center;
	}
.results_list:hover .number_people{ background:#3ed085}
.results_list:hover .number_people:after{background:#29a565}

.abstract{
	width:100%;
	height:190px;
	border-radius:5px;
	background:rgba(107,109,108,0.6);
	text-align:center;
	 position:absolute;
	 left:0;
	 top:0;
	 opacity: 0;
	 transition:all 0.6s;
	 }
.abstract p{
	width:90%; 
	margin:50px auto;
	color:#fff; 
	line-height:200%;
	}
.results_list:hover .abstract{ opacity: 1;}

.introduce{width:100%;padding:10px;}
.introduce p{font-size:15px; color:#333; margin-bottom:8px;}
.introduce dl{ width:100%; overflow:hidden}
.introduce dd{ float:left;}
dl.price{ padding:10px 0;overflow:hidden}
.charge{ font-size:22px; color:#333}
.introduce dd.state{ 
     float:right; 
	 font-size:13px; 
	 height:20px;
	 line-height:20px;
	 margin-top:5px;
	 padding:0 5px; 
	 background:#48a1ff; 
	 color:#fff;
	 -webkit-border-radius:3px;
	 -mos-border-radius:3px;
	 -o-border-radius:3px;
	 border-radius:3px;
	 }
#complete{ background:#999}
.results_list:hover .introduce dd.state{background:#3ed085}
dl.time{width:100%;height:30px; line-height:30px; background:#f8f8f8;border-radius:10px;padding:0 10px;color:#999}
.type{}
.type img{ display:inline-block; margin-right:10px;}
.introduce dd.cycle{ float:right; font-size:13px}
/*------------------------ 项目集市页面的样式 end ------------------------*/



/* ------------------------钱包-积分K币概览页面样式 start------------------------*/
.public_border{
	background:#fff;	
	border:1px solid #D4D4D4;
	-webkit-border-radius:3px;
	-mos-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	border-radius:3px;
	}

#wallet_head{
	height:310px;
	color:#fff;
	}
#current_kb{
	width:550px;
	height:150px;
	padding-top:35px;
	text-align:center;
	margin:10px auto 0;
	-webkit-border-radius:5px;
	-mos-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	background: -webkit-linear-gradient(left, #55bde0 , #1b91b5); 
    background: -o-linear-gradient(right, #55bde0 , #1b91b5); 
    background: -moz-linear-gradient(right, #55bde0 , #1b91b5); 
    background: linear-gradient(to right, #55bde0 , #1b91b5); 
	}
#current_title{}	
#current_kb p{
	width:260px;
	height:50px;
	line-height:50px;
	font-size:38px;
	background:#2294b8;
	margin:20px auto;
	-webkit-border-radius:18px;
	-mos-border-radius:18px;
	-o-border-radius:18px;
	border-radius:18px;
	}
#buy_kb{
	width:550px;
	height:110px;
	margin:0 auto;
	-webkit-border-radius:5px;
	-mos-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	background: -webkit-linear-gradient( #bfe7f3 , #ffffff 70%); 
    background: -o-linear-gradient( #bfe7f3 , #ffffff 70%); 
    background: -moz-linear-gradient( #bfe7f3 , #ffffff 70%); 
    background: linear-gradient( #bfe7f3 , #ffffff 70%); 
	overflow:hidden
	}
#buy_kb p{
	width:200px;
	height:45px;
	line-height:45px;
	text-align:center;
	font-size:18px;
	background:#48a1ff;
	margin:25px auto;
	-webkit-border-radius:10px;
	-mos-border-radius:10px;
	-o-border-radius:10px;
	border-radius:25px;
	}
#buy_kb p a{ display:block;color:#fff;}
#buy_kb p:hover{background:#1f84a4;}

#all_records{margin-top:25px;}
#all_records p{ line-height:50px; padding-left:15px; color:#333;border-bottom:1px solid #D4D4D4}
table#records{border:0; border-spacing:0; border-collapse:0;width:100%;}
#records tr{height:50px;}
#records tr th,#records tr td{border-bottom:1px solid #D4D4D4}
#records tr th{ background:#f6f6f6;color:#666;font-weight:100}
#records tr td{color:#333}
td.tdwidth{width:25%}
td.tdwidthone{width:20%}
#records tr td:first-child{padding-left:50px;} 
#records tr td:nth-child(2){ text-align:right; padding-right:270px;}
#records tr td:nth-child(3){ text-align:center}
#records tr th:first-child{padding-left:65px; text-align:left} 
.z{color:#fb4c4d;}
.f{color:#3cd086;}
#records tr:hover{background:#f2f2f2;}

#page{height:80px; line-height:80px; }
#page dl{width:390px; float:right;padding-right:20px;}
#page dd{ float:left}

/* 钱包-积分K币概览页面样式 end*/